<div class="d-flex flex-column justify-content-center pt-5">
    <h1 class="mb-5">Welcome</h1>
    <% if !user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary rounded-pill" %>
    <% else %>
    <% if can? :manage, :all %>
        <div class="float-start">
            <%= search_form_for @q, url: root_path, method: :get do |f| %>
                <div class="row">
                    <div class="col-md-3">
                        <%= f.label :name_cont, "Name" %>
                        <%= f.text_field :name_cont, class: "form-control", placeholder: "Enter name" %>
                    </div>
                    <div class="col-md-3">
                        <%= f.label :email_cont, "Email" %>
                        <%= f.text_field :email_cont, class: "form-control", placeholder: "Enter email" %>
                    </div>
                    <div class="col-md-3">
                        <%= f.label :confirmed_at_eq, "Active" %>
                        <%= f.select :confirmed_at_eq, options_for_select([['--------', ''], ['Actived', 'true'], ['Unactived', 'false']], @q.confirmed_at_eq), {}, class: "form-control" %>
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <%= f.submit "Search", class: "btn btn-primary mr-3", style: "margin-right: 10px" %>
                        <%= button_tag "Clear", type: :reset, class: "btn btn-secondary ml-3", style: "margin-right: 10px"  %>
                        <%= link_to root_path(params: request.query_parameters.merge(format: 'csv')), method: :get, class: 'btn btn-success' do %>
                            <i class="fa fa-download"></i> Download CSV
                        <% end %>
                    </div>
                </div>



            <% end %>
        </div>
        <% if @users.any? %>
            <table class="table table-striped table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Avatar</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Confirmed At</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each_with_index do |user, index| %>
                        <tr>
                            <th scope="row">
                                <% if user.avatar.attached? %>
                                    <%= image_tag user.avatar, class: "avatar-profile" %>
                                <% else %>
                                    <img src="/default-avatar.jpg" class="avatar-profile" />
                                <% end %>
                            </th>
                            <td><%= user.email %></td>
                            <td><%= user.name %></td>
                            <td><%= user.address %></td>
                            <% if user.confirmed_at %>
                                <td><%= user.confirmed_at %></td>
                            <% else %>
                                <td>
                                    <%= button_to "Resend confirmation", resend_confirmation_path(:user_id => user.id), class: 'btn btn-primary' %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            <h1 class="text-align-center mt-5">No Data</h1>
        <% end %>
    <% end %>
    <% end %>
</div>