    <div>
        <%= form_with model: @current_user, url: profile_path(@current_user), method: :patch do |form| %>
            <div class="mb-3">
                <%= form.label :email, "Email:", class: "form-label" %>
                <%= form.text_field :email, value: @current_user.email, class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= form.label :name, "Name:", class: "form-label" %>
                <%= form.text_field :name, value: @current_user.name, class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= form.label :address, "Address:", class: "form-label" %>
                <%= form.text_field :address, value: @current_user.address, class: "form-control" %>
            </div>

             <div class="mb-3">
                <%= form.label :phone, "Phone:", class: "form-label" %>
                <%= form.text_field :phone, value: @current_user.phone, class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= form.label :avatar, "Avatar:", class: "form-label" %>
                <%= form.text_field :avatar, value: @current_user.avatar, class: "form-control" %>
            </div>

            <%= form.submit "Search", class: "btn btn-primary" %>
        <% end %>
    </div>