%div
  %h1.my-3 Profile
  - if flash[:error_details]
    - flash[:error_details].each do |message|
      %div
        %p.text-danger= message
  %div
    = form_with model: @current_user, url: profile_path(@current_user), method: :patch, multipart: true do |form|
      .mb-3
        = form.label :name, "Name:", class: "form-label"
        = form.text_field :name, value: @user_info.name, class: "form-control"
      .mb-3
        = form.label :address, "Address:", class: "form-label"
        = form.text_field :address, value: @user_info.address, class: "form-control"
      .mb-3
        = form.label :phone, "Phone:", class: "form-label"
        = form.text_field :phone, value: @user_info.phone, class: "form-control"
      .mb-3
        = form.label :gender, "Gender:", class: "form-label"
        = form.select :gender, Profile.genders.keys, {} , {class: "form-select"}
      .mb-3
        = form.label :avatar, "Avatar:", class: "form-label"
        = form.file_field :avatar, class: "form-control", accept: 'image/jpeg,image/png'
      .mb-3
        = image_tag @user_info.avatar, class: "avatar" if @user_info.avatar.attached?
      = form.submit "Save", class: "btn btn-primary"