<div>
    <h1 class="my-3">Profile</h1>
    <div>
        <%= form_with model: @current_user, url: profile_path(@current_user), method: :patch, multipart: true do |form| %>
            <div class="mb-3">
                <%= form.label :email, "Email:", class: "form-label" %>
                <%= form.text_field :email, value: @current_user.email, class: "form-control" %>
                <%= display_errors(@current_user, :email) %>
            </div>

            <div class="mb-3">
                <%= form.label :name, "Name:", class: "form-label" %>
                <%= form.text_field :name, value: @current_user.name, class: "form-control" %>
                <%= display_errors(@current_user, :name) %>
            </div>

            <div class="mb-3">
                <%= form.label :address, "Address:", class: "form-label" %>
                <%= form.text_field :address, value: @current_user.address, class: "form-control" %>
                <%= display_errors(@current_user, :address) %>
            </div>

            <div class="mb-3">
                <%= form.label :phone, "Phone:", class: "form-label" %>
                <%= form.text_field :phone, value: @current_user.phone, class: "form-control" %>
                <%= display_errors(@current_user, :phone) %>
            </div>

            <div class="mb-3">
                <%= form.label :avatar, "Avatar:", class: "form-label" %>
                <%= form.file_field :avatar, class: "form-control" %>
                <%= display_errors(@current_user, :avatar) %>
            </div>

            <div class="mb-3">
                <%= image_tag @current_user.avatar, class: "avatar" if @current_user.avatar.attached? %>
            </div>

            <%= form.submit "Save", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>